* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.main-container {
  padding-top: 141px;
  background-color: #F5E2C8;
}

nav {
  background-color: #1C3144;
  color: #F5E2C8;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto 0;
}

.nav-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  background-color: #F5E2C8;
  border-radius: 10px;
  padding: 6px 20px;
}

.search-input {
  margin-right: 5px;
  border-style: none;
  background-color: transparent;
  font-weight: 500;
}
.search-input::-moz-placeholder {
  color: #D88373;
}
.search-input:-ms-input-placeholder {
  color: #D88373;
}
.search-input::placeholder {
  color: #D88373;
}

.search-icon {
  height: 20px;
  width: 20px;
  color: #D88373;
}

.nav-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

.next-link {
  text-decoration: none;
  color: #D88373;
  font-weight: bold;
}

.nav-mobile {
  display: none;
}

.banner {
  height: calc(100vh - 141px);
  display: flex;
  justify-content: center;
  background-image: url(../public/img/nick-iliasov-i0fCUofGjV8-unsplash.jpg);
  background-size: contain;
  overflow: hidden;
}

.banner-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button {
  position: relative;
  right: -85%;
  top: -35%;
  color: #F5E2C8;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .nav-web {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-mob-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .banner {
    height: calc(100vh - 108px);
  }
  .main-container {
    padding-top: 108px;
    z-index: 1;
  }
  .main-container.active {
    padding-top: 285px;
  }
  .menu-list {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s ease-in-out;
    width: auto;
    z-index: 100;
  }
  .menu-list.active {
    display: flex;
  }
  .menu-list li {
    margin-top: 10px;
  }
  .menu-list li:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #F5E2C8;
    transition: width 0.2s;
  }
  .menu-list li:hover::after {
    width: 100%;
  }
  .line1,
.line2,
.line3 {
    margin-top: 5px;
    background-color: #fff;
    width: 25px;
    height: 3px;
    display: block;
    position: relative;
    opacity: 1;
    border-radius: 15%;
    transition: all 0.3s;
  }
  .line1.active {
    transform: rotate(270deg);
    opacity: 0;
    background-color: #D88373;
    top: 5px;
  }
  .line2.active {
    transform: rotate(45deg);
    background-color: #D88373;
  }
  .line3.active {
    transform: rotate(-45deg);
    background-color: #D88373;
    top: -7px;
  }
}/*# sourceMappingURL=styles.css.map */