$color-1: #1C3144;
$color-2: #47682C;
$color-3: #F5E2C8;
$color-4: #D88373;

* {
    box-sizing: border-box;
}


body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

.main-container {
    padding-top: 141px;
    background-color: $color-3;
}



nav {
    background-color: $color-1;
    color: $color-3;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto 0;
}

.nav-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: $color-3;
    border-radius: 10px;
    padding: 6px 20px;
}

.search-input {
    margin-right: 5px;
    border-style: none;
    background-color: transparent;
    font-weight: 500;

    &::placeholder {
        color: $color-4;
    }
}

.search-icon {
    height: 20px;
    width: 20px;
    color: $color-4;
}

.nav-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;

}

.next-link {
    text-decoration: none;
    color: $color-4;
    font-weight: bold;
    // margin-right: 50px;
}

.nav-mobile {
    display: none;
}

.banner {
    height: calc(100vh - 141px);
    display: flex;
    justify-content: center;
    background-image: url(../public/img/nick-iliasov-i0fCUofGjV8-unsplash.jpg);
    background-size: contain;
    clip-path: polygon(20% 0, 100% 10%, 80% 100%, 0 90%);
    overflow: hidden;
}

.banner-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    transform: rotate(-15deg);

    &:hover {
        transform: rotate(0deg)
    }
}

.arrow-button{
    position: absolute;
    right: 8%;
    top: 25%;
    color: #F5E2C8;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .nav-web {
        display: none;
    }

    .nav-mobile {
        display: block;
    }


    .nav-mob-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .main-container {
        padding-top: 108px;
    }

    // Mobile menu items, centering and animation
    .menu-list {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style: none;
        transition: all .5s ease-in-out;

        width: auto;

        &.active {
            display: flex;
        }

        & li {
            margin-top: 10px;


            &:after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: $color-3;
                transition: width .2s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }


    .line1,
    .line2,
    .line3 {
        margin-top: 5px;
        background-color: #fff;
        width: 25px;
        height: 3px;
        display: block;
        position: relative;
        opacity: 1.0;
        border-radius: 15%;
        transition: all .3s;
    }

    .line1.active {
        transform: rotate(270deg);
        opacity: 0.0;
        background-color: $color-4;
        top: 5px;
    }

    .line2.active {
        transform: rotate(45deg);
        background-color: $color-4;
    }

    .line3.active {
        transform: rotate(-45deg);
        background-color: $color-4;
        top: -7px;
    }


}