$color-1: #1C3144;
$color-2: #47682C;
$color-3: #F5E2C8;
$color-4: #D88373;

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: $color-1;
    color: $color-3;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto 0;
}

.nav-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    background-color: $color-3;
    border-radius: 10px;
    padding: 6px 20px;
}

.search-input {
    margin-right: 5px;
    border-style: none;
    background-color: transparent;
    font-weight: 500;

    &::placeholder {
        color: $color-4;
    }
}

.search-icon {
    height: 20px;
    width: 20px;
    color: $color-4;
}

.nav-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;

}

.next-link {
    text-decoration: none;
    color: #D88373;
    font-weight: bold;
    // margin-right: 50px;
}

.nav-mobile {
    display: none;
}

@media screen and (max-width: 780px) {
    .nav-web {
        display: none;
    }

    .nav-mobile {
        display: block;
    }


    // Mobile menu items, centering and animation
    .menu-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style: none;
        transition: all .5s ease-in-out;

        width: auto;

        & li {
            margin-top: 10px;


            &:after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: #fff;
                transition: width .2s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }


    .line1,
    .line2,
    .line3 {
        margin-top: 5px;
        background-color: #fff;
        width: 25px;
        height: 3px;
        display: block;
        position: relative;
        opacity: 1.0;
        border-radius: 15%;
        transition: all .3s;
    }

    .line1.active {
        transform: rotate(270deg);
        opacity: 0.0;
        background-color: yellow;
        top: 5px;
    }

    .line2.active {
        transform: rotate(45deg);
        background-color: yellow;
    }

    .line3.active {
        transform: rotate(-45deg);
        background-color: yellow;
        top: -7px;
    }
}